html {
  background-color:#024;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}
body {
	max-width: 800px;
	margin:0 auto;
} 

h2, h3 {
  font-family: 'Quicksand';
  font-weight: 300;
}
h2 {
	font-size:62px;
}
h3 {
  font-size: 35px;
}
p, ul, li {
  color:#BBB;
}
a {
  color:#ABF;
}
.footer {
  border:1px solid #234;
  text-align:center;
}

.section {
  display:none;

  &.view {
    display:block;
    animation: fadeIn 1s;
  }
}

.more {
  list-style:none;
}
.more a {
  color:#ACF;
}
.buttons {
  list-style:none;
}
.buttons a {
  display:inline-block;
  background-color:#FFF;
  padding:5px 10px; margin:3px 0px;
  text-decoration:none;
  color:#000;
  font-weight:bold;
  border-radius:5px;
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}